:root {
    --color-primary: rgb(138, 158, 167);
    --color-secondary: rgb(141, 155, 106);
    --color-secondary-70: rgba(141, 155, 106, 0.7);
    --color-dark: rgb(44, 44, 44);
}

html, body, #wrapper {
    height: 100%;
}

nav#header {
    background-color: var(--color-primary);
}

div#background-image {
    background-image: url("../images/pexels-artem-podrez-4492103.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

div#gradient {
    background-image: linear-gradient(rgba(224, 215, 210, 0) , #F3F3F3);
    height: 200px;
    width: 100%;
}

div#background-color {
    background-color: #F3F3F3;
    width: 100%;
}

div#content {
    width: 100%;
}

.home-content-col {
    background-color: var(--color-secondary-70);
}

.border-radius-18 {
    border-radius: 18px;
}

#home-main-content-row li.nav-item {
}

#home-main-content-row a.nav-link {
    color: var(--color-dark);
}

#home-main-content-row .card-content form {
    -ms-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
}