<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nl">
<head>
    <meta charset="UTF-8">

    <!--Bootstrap css-->
    <link href="../static/css/bootstrap/bootstrap.min.css" th:href="@{css/bootstrap/bootstrap.min.css}" rel="stylesheet">

    <link href="../static/css/main.css" th:href="@{css/main.css}" rel="stylesheet">
    <title>Ontpillen</title>
</head>
<body>

<header class="container-fluid" id="header">
    <div class="row">
        <h2>Ontpillen</h2>
    </div>
</header>

<section class="container-fluid bg-dark">
    <div class="container bg-light" style="height: 500px"></div>
</section>

<!--Bootstrap javascript-->
<script src="../static/js/bootstrap/bootstrap.min.js" th:src="@{js/bootstrap/bootstrap.min.js}"></script>

</body>
</html>